.biology-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bio-subheading {
    display: flex;
    align-items: flex-start;
}

.eggGroup {
    border-radius: 10px;
    text-decoration: capitalize;
    space-between: 1rem;
    
}