.navigation {
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 200px;
    min-height: 100vh;
    padding: 40px 20px 0 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
    position: fixed;
    top: 0;
    left: 0;
}


.nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}


.nav-link {
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.3s;

}

.nav-link:hover {
    color: #B794F4;
   
}

.active {
    color: #B794F4
   
}
.logo {
    font-size: 1rem;

    font-weight: bold;
    text-decoration: none;
    height: 64px;
    width: 64px;
    animation-duration: spin 3s infinite;
    text-decoration: none;
}

/* Path: src/App.css */

 @keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
